{% extends "base.html" %} {% block title %} Login {% endblock %} {% block
content %}
<section class="container d-flex justify-content-center">
  <form method="POST" class="mt-5">
    <h3 align="center" class="mb-5">Login</h3>
    <section class="form-group mb-2">
      <label for="email" class="mb-2">Email Address</label>
      <input
        class="form-control"
        type="email"
        name="email"
        id="email"
        placeholder="name@example.com"
      />
    </section>

    <section class="form-group mb-2">
      <label for="password" class="mb-2">Password</label>
      <input
        class="form-control"
        type="password"
        name="password"
        id="password"
        placeholder="password"
      />
    </section>
    <br />
    <section class="d-flex justify-content-center">
      <button class="btn btn-primary rounded-2" type="submit">Login</button>
    </section>
  </form>
</section>

{% endblock %}
